name: Check/update RA settings

on:
  pull_request:
    branches:
      - main
    paths:
      - 'plugin.py'

jobs:
  check-settings:
    uses: sublimelsp/workflows/.github/workflows/changed-settings.yaml@main
    with:
      repository_url: 'https://github.com/rust-lang/rust-analyzer'
      configuration_file_path: 'editors/code/package.json'
      # JQ query to get all configuration settings converted to a flat list and with null values filtered out.
      configuration_jq_query: '[.contributes.configuration[].properties | select(. != null)] | add'
      version_file: 'plugin.py'
      version_regexp: 'TAG = "([^"]+)"'
