name: Check/update RA settings

on:
  pull_request:
    branches:
      - main
    paths:
      - 'plugin.py'
  workflow_dispatch:

permissions:
  pull-requests: write
  repository-projects: write

jobs:
  new_settings:
    name: Check updated RA settings
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y ripgrep

      - name: Get TAG from PR
        id: tag-to
        run: echo "TAG=$(rg -o 'TAG = "([^"]+)"' -r \$1 "plugin.py")" >> "$GITHUB_OUTPUT"

      - uses: actions/checkout@v5
        with:
          ref: main

      - name: Get TAG from main
        id: tag-from
        run: echo "TAG=$(rg -o 'TAG = "([^"]+)"' -r \$1 "plugin.py")" >> "$GITHUB_OUTPUT"

      - if: steps.tag-from.outputs.TAG != steps.tag-to.outputs.TAG
        name: Run new_settings.sh script
        id: new_settings
        run: |
          {
            echo 'CHANGES<<EOF'
            ./scripts/new_settings.sh ${{ steps.tag-from.outputs.TAG }} ${{ steps.tag-to.outputs.TAG }}
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - if: steps.tag-from.outputs.TAG != steps.tag-to.outputs.TAG
        name: Find Comment
        uses: peter-evans/find-comment@v4
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'

      - if: steps.tag-from.outputs.TAG != steps.tag-to.outputs.TAG
        name: Create or update comment
        uses: peter-evans/create-or-update-comment@v4
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Following are the [settings schema](https://github.com/rust-lang/rust-analyzer/blob/${{ steps.tag-to.outputs.TAG }}/editors/code/package.json) changes between tags `${{ steps.tag-from.outputs.TAG }}` and `${{ steps.tag-to.outputs.TAG }}`. Make sure that those are reflected in `LSP-rust-analyzer.sublime-settings` and `sublime-package.json` files.

            ```diff
            ${{ steps.new_settings.outputs.CHANGES }}
            ```
          edit-mode: replace
